*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: normal;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Vazirmatn", sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #f5f5f5;
}

:root {
	--primary-color: #cc312d;
	--secondary-color: #e5303f1a;
	--text-color: #1a1814;
	--background-color: #f7f7f7;
	--border-color: #ebebeb;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1440px;
	min-width: 320px;
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid {
	display: grid;
}

/* _______ Checkout ________ */

.checkout {
	height: inherit;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
}

.checkout-details {
	background-color: #a0a0a0;
}

.checkout-summary {
	background-color: #3d7f90;
}

/* Medai Screen */
@media screen and (min-width: 768px) {
	.checkout {
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr;
	}
}
