*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: normal;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Vazirmatn", sans-serif;
}

html {
	font-size: 62.5%;
}

/* body {
	background-color: #f5f5f5;
} */

:root {
	--primary-color: #cc312d;
	--secondary-color: #e5303f1a;
	--text-color: #1a1814;
	--background-color: #f7f7f7;
	--border-color: #ebebeb;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1440px;
	min-width: 320px;
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid {
	display: grid;
}

.line {
	border: 1px solid var(--border-color);
}

.form-input {
	width: 100%;
	border: none;
	outline: none;
	padding: 6px 16px;
	border-radius: 40px;
	background-color: var(--background-color);
}

.form-label {
	font-size: 1.4rem;
	font-weight: 500;
}

.form-option {
	border: none;
	outline: none;
	padding: 6px 16px;
	border-radius: 40px;
	font-size: 1.4rem;
	color: #1a1814;
	background-color: #f7f7f7;
}

.text-input {
	height: 100px;

	width: 100%;
	border: none;
	outline: none;
	padding: 6px 16px;
	border-radius: 12px;
	background-color: var(--background-color);
}

/* _______ checkout ________ */

.checkout {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;

	padding: 20px 10px;
	border-radius: 20px;
	border: 1.5px solid var(--border-color);
}

/* _______ checkout-details ________ */

/* _______ header ________ */

.checkout-details__header {
	margin-bottom: 10px;
}

.checkout-details__title {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--text-color);
}

/* ________ checkout-details__body ________ */
/* ________ recipient-info ________ */
/* ________ recipient-info__header ________ */

.delivery-info {
	gap: 20px;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

.recipient-info {
	gap: 16px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.recipient-info__title {
	font-size: 1.6rem;
	font-weight: bold;
}
/* ________ recipient-info__body ________ */

.recipient-info__form {
	gap: 16px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
}

.recipient-info__form div {
	gap: 9px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

/* ________ Delivery Address ________ */
.delivery-address {
	display: grid;
	gap: 18px;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

.delivery-address__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delivery-address__action-btn {
	gap: 5px;
	align-items: center;
	justify-content: center;
}

.delivery-address__action-btn span {
	font-weight: bold;
	font-size: 1.4rem;
	color: var(--primary-color);
}

.delivery-address__form {
	gap: 16px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, auto);
}

.delivery-address__form :nth-child(1) {
	display: flex;
	flex-direction: column;
	grid-area: 1 / 1 / 2 / 2;
}
.delivery-address__form :nth-child(2) {
	display: flex;
	flex-direction: column;
	grid-area: 2 / 1 / 3 / 2;
}
.delivery-address__form :nth-child(3) {
	display: flex;
	flex-direction: column;
	grid-area: 3 / 1 / 4 / 2;
}
.delivery-address__form :nth-child(4) {
	display: flex;
	flex-direction: column;
	grid-area: 4 / 1 / 5 / 2;
}
.delivery-address__form :nth-child(5) {
	display: flex;
	flex-direction: column;
	grid-area: 5 / 1 / 6 / 2;
}

.checkout-details__footer {
	margin: 24px 0;
}

.checkout-details__footer-content {
	margin-top: 10px;
}

.checkout-details__footer-header {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.checkout-details__footer-title {
	font-size: 1.8rem;
	font-weight: 600;
}

.checkout-details__footer-cta span {
	font-weight: 500;
	font-size: 1.4rem;
	padding: 8px 16px;
	border-radius: 32px;
	background-color: #e5303f1a;
	color: var(--primary-color);
}

.delivery-options {
	gap: 10px;
	display: flex;
	flex-direction: column;
}

.delivery-options__items {
	gap: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

.delivery-options__item {
	width: 100%;
	display: flex;
	font-size: 1.4rem;
	padding: 17px 17px;
	align-items: center;
	border-radius: 40px;
	justify-content: flex-start;
	background-color: var(--background-color);
}

.delivery-options__title {
	margin-right: 10px;
}
.delivery-options__item span {
	font-weight: 500;
}

.delivery-options__price {
	margin-right: auto;
}

/*!__________________________ checkout-summary _____________________________________ */

.checkout-summary {
	gap: 20px;
	padding: 24px;
	display: grid;
	border-radius: 16px;
	grid-template-columns: 1fr;
	background-color: #f7f7f7;
	grid-template-rows: auto auto 1fr auto;
}

.checkout-summary__body {
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.checkout-summary__header h3 {
	font-weight: 700;
	font-size: 1.8rem;
	color: var(--text-color);
}

.checkout-summary__item-image {
	width: 90px;
	height: 90px;
	padding: 15px;
	border-radius: 12px;
	background-color: #fff;

	display: flex;
	align-items: center;
	justify-content: center;
}

.checkout-summary__item {
	gap: 8px;
	width: 100%;
	display: flex;
	align-items: center;
}

.checkout-summary__item :last-child {
	width: 100%;
}

.checkout-summary__item-info {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.checkout-summary__item-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.checkout-summary__item-title span {
	font-size: 1.4rem;
}
.checkout-summary__item-price {
	flex-shrink: 1;
}

.checkout-summary__item-price span {
	font-size: 1.4rem;
}

.checkout-summary__item-price-action {
	margin-top: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.checkout-summary__item-actions {
	gap: 6px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.checkout-summary__qty-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 8px;
	border-radius: 40px;
	width: 35px !important;
	height: 35px;
}

.checkout-summary__qty-btn--counter {
	border: 1.5px solid #e6e6e6;
	background-color: var(--background-color);
}

.checkout-summary__item-spec {
	width: 51px;
	font-size: 1.1rem;
}
.checkout-summary__footer {
	padding: 18px 16px;
	border-radius: 12px;
	background-color: #fff;
}

.checkout-summary__footer .line {
	margin: 10px 0;
}
.checkout-summary__footer-row {
	display: flex;
	justify-content: space-between;
}

.checkout-summary__footer-label {
	font-size: 1.4rem;
	font-weight: 500;
}

.checkout-summary__footer-value {
	font-size: 1.6rem;
	color: #14141466;
}

.checkout-summary__footer-row--total .checkout-summary__footer-value {
	color: #1a1814;
	font-weight: bold;
}

.checkout-summary__footer-gateway {
	gap: 8px;
	padding: 16px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.checkout-summary__footer-gateway span {
	background-color: #ebb81140;
	padding: 10px;
	border-radius: 10px;
}

.checkout-summary__footer-gateway p {
	font-size: 1.2rem;
}

.checkout-summary__pay-btn {
	width: 100%;
	padding: 9px 0;
	border: none;
	border-radius: 44px;
	color: white;
	font-weight: 600;
	background-color: var(--primary-color);
}

/* Medai Screen */
@media screen and (min-width: 768px) {
	.checkout {
		gap: 10px;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr;
	}
	.delivery-address__form {
		gap: 0;
	}
}

@media screen and (max-width: 768px) {
	.checkout {
		gap: 20px;
	}
}

@media screen and (min-width: 480px) {
	.recipient-info__form {
		gap: 10px;
		grid-template-columns: auto auto;
		grid-template-rows: 1fr;
	}

	.delivery-address__form {
		display: grid;
		column-gap: 10px;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}

	.delivery-address__form :nth-child(1) {
		grid-area: 1 / 2 / 2 / 3;
	}
	.delivery-address__form :nth-child(2) {
		grid-area: 1 / 1 / 2 / 2;
	}
	.delivery-address__form :nth-child(3) {
		grid-area: 2 / 1 / 3 / 2;
	}
	.delivery-address__form :nth-child(4) {
		grid-area: 2 / 2 / 3 / 3;
	}
	.delivery-address__form :nth-child(5) {
		grid-area: 3 / 1 / 4 / 3;
	}
}
